# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

# Python / FastAPI
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.venv/
venv/*
ENV/
env.bak/
venv.bak/
pip-wheel-metadata/
*.egg-info/
dist/
build/

# Virtual environment and Python artifacts
.python-version
instance/
.pytest_cache/
.mypy_cache/
.coverage
.cache
htmlcov/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# IDEs and editors
.vscode/
.idea/

# Database
*.sqlite3

# FastAPI / ASGI
uvicorn*.log

# Celery
celerybeat-schedule

# Staticfiles
staticfiles/

# Ruff
.ruff_cache/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

